language: java
jdk:
- oraclejdk8
env:
  global:
  - SONATYPE_USERNAME=leonarduk
  - secure: mB6ij38F4mzSiwMeqd6LH5OgHvsEIwK0FuTT/sTwaV/tLYnofNj2t+DbSJyZI00UMmgI3oKG2W1DuSMo2SONJDjMmYcUJcelvQiObFEo+wKC2g4BTHOGllLpT+0EKOKGqhh1gAeE9e0mOXoUxTg3QYxZYv0DXnOgV8xjIrHQqHGmPhSza0VBXftqkhKamMLAY/D7AWby+zlmgdldYI6eiQ4PmXzjayOu9Uf59cCIzHbgxa/zv9uphS5OSJQ9hwD5qn8pxEo7gb2Th2DjpchRq+ADpdAYuJiiPwmPYFPXfBLBEsPfLvTuptTgEWgqKFffyCwfDTHYp3p5vOpBzgM6R7onShfGz5Vco1MFumFJnMBRH3bwp53WRxP1LKogDxTCzI4dGBpihxoE4mWjicKxR7LffJsCgh/cTxu99TU/BEcU14RjilNrpqiKkrvvQ1Wc28vzqdkJcXjitsGhOp4Ws6NekVC9bts4lixdsVEzKG2PCXxWiDeuRemCiK5CYkUn3cXfok6fU8WGhz+cPI+XOI0MfrFnVltN9aC7PJGTNnV6X5uVQ+LrfLLNtP+SHHnmgjrqpfnq6ODKzfiu93UJBXHBcr3ItpKqPxhVRZKqD6vy8Q5bqEjlBhKDke/p8JMf3/sphe5A9c9x4cEYK82ivC+hXE2vZgOK0WGt8mJB09w=
script: mvn clean verify
after_success:
- bash <(curl -s https://codecov.io/bash)
- mvn deploy --settings travis-settings.xml -DskipTests=true -B
